*.asv
*.fig
*.mlx.autosave

data/example/*
!data/example/.gitkeep

data/example/correlation_map.mat
data/example/correlation_map.txt
data/example/distance_axis.mat
data/example/distance_axis.txt
data/example/time_axis.mat
data/example/time_axis.txt
data/example/CCvalue.mat
data/example/CCvalue.txt
data/example/Disvalue.mat
data/example/Disvalue.txt
data/example/Tvalue.mat
data/example/Tvalue.txt
data/example/Record.mat
data/example/Record.txt
data/example/Sensors.txt
